<app-header></app-header>
<!-- create start -->
<section [ngClass]="{ 'md:pl-20': this.isNavMinimized,  'md:pl-64': !this.isNavMinimized  }" class="pl-20   ">
    <div class="grid grid-cols-1 gap-1 items-center">
        <!-- <div class="flex flex-wrap mb-2">

            <div class="w-full  md:w-1/4 xl:w-1/4 pt-3 px-3 md:pr-2 xl:pr-3 xl:pl-3 ">
                <div class="bg-green-600 border rounded-lg shadow h-20 p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pl-3 pr-4"><i class="fa fa-shopping-cart fa-4x fa-fw fa-inverse"></i>
                        </div>
                        <div class="flex-1 text-right pr-3" [routerLink]="['/Sales']">
                            <div>
                                <h3 class="text-white font-weight-600 font-bold text-3xl">Counter 1<span
                                        class="text-green-400"></span>
                                </h3>
                                <h5 class="text-gray-200 text-xl"> Sales</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full  md:w-1/4 xl:w-1/4 pt-3 px-3 md:pr-2 xl:pr-3 xl:pl-3">
                <div class="bg-orange-600 border rounded-lg shadow h-20 p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pl-3 pr-4"><i class="fa fa-cart-plus fa-4x fa-fw fa-inverse"></i></div>
                        <div class="flex-1 text-right pr-3">

                            <h3 class="text-white font-weight-600 font-bold text-3xl">Counter 2<span
                                    class="text-green-400"></span>
                            </h3>
                            <h5 class="text-gray-200 text-xl"> Purchases</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full  md:w-1/4 xl:w-1/4 pt-3 px-3 md:pr-2 xl:pr-3 xl:pl-3">
                <div class="bg-purple-600 border rounded-lg shadow h-20 p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pl-3 pr-4"><i class="fa fa-arrow-right  fa-4x fa-fw fa-inverse"></i>
                        </div>
                        <div class="flex-1 text-right pr-3">

                            <h3 class="text-white font-weight-600 font-bold text-3xl">Counter 3<span
                                    class="text-green-400"></span>
                            </h3>
                            <h5 class="text-gray-200 text-xl"> Sales Return</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full  md:w-1/4 xl:w-1/4 pt-3 px-3 md:pr-2 xl:pr-3 xl:pl-3">
                <div class="bg-yellow-600 border rounded-lg shadow h-20 p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pl-3 pr-4"><i class="fa fa-arrow-left fa-4x fa-fw fa-inverse"></i></div>
                        <div class="flex-1 text-right pr-3">

                            <h3 class="text-white font-weight-600 font-bold text-3xl">Counter 4<span
                                    class="text-green-400"></span>
                            </h3>
                            <h5 class="text-gray-200 text-xl"> Purchase Return</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class=" grid grid-cols-2 gap-4 items-center py-4   xl:pl-5 sm:1/3">
            <div><span class="text-black-500 text-3xl  font-weight-600 font-light    text-3xl   ">
                    Edit Product
                </span></div>
            <div class="grid justify-items-end "> <button
                    class="bg-transparent hover:bg-blue-500 justify-items-end text-blue-500  font-semibold outline-blue-500  hover:text-white border border-blue-500  hover:border-transparent rounded   rounded w-20 h-12 mr-9 float-right   "
                    [routerLink]="['/dashboard/product']">
                    <span>Back</span>
                </button></div>
        </div>


    </div>
    <div class="flex flex-col ">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <form action="">
                        <div class="min-w-300 bg-white ml-5 p-10">
                            <div clas="grid grid-cols-3 gap-2">
                                <div class="md:flex -mx-2 ">
                                    <div class="md:w-full lg:w-1/3 px-2">

                                        <label for="Shipping" class="text-black-500 font-weight-500 font-semibold">Name:
                                        </label>
                                        <div class="relative w-full mt-4 rounded-md shadow-sm">

                                            <input type="text"
                                                class="bg-white-50 border border-gray-300 text-gray-400 text-sm rounded-lg block w-full p-5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-purple-500"
                                                placeholder="Enter Name">


                                        </div>
                                    </div>
                                    <div class="md:w-full lg:w-1/3 px-2">
                                        <div class="bg-white ">

                                            <label for="Shipping"
                                                class="text-black-500 font-weight-500 font-semibold">Code:
                                            </label>
                                            <div class="relative w-full mt-4 rounded-md shadow-sm">

                                                <input type="text"
                                                    class="bg-white-50 border border-gray-300 text-gray-400 text-sm rounded-lg block w-full p-5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-purple-500"
                                                    placeholder="Enter Code">


                                            </div>
                                        </div>
                                    </div>
                                    <div class="md:w-full lg:w-1/3 px-2">
                                        <div class="bg-white ">
                                            <label for="wharehouse"
                                                class="text-black-500 font-weight-500 font-semibold">Upload File <span
                                                    class="text-red-500 ">*</span> </label>
                                            <div class="relative w-full mt-4  rounded-md ">

                                                <input
                                                    class="block w-full text-sm text-gray-900 bg-gray-50 p-2 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                                    aria-describedby="file_input_help" id="file_input" type="file">
                                                <p class="mt-1 text-sm text-gray-500 dark:text-gray-300"
                                                    id="file_input_help">
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div clas="grid grid-cols-3 gap-2">
                                <div class="md:flex -mx-2 ">
                                    <div class="md:w-full lg:w-1/3 px-2 p-4">

                                        <label for="wharehouse"
                                            class="text-black-500 font-weight-500 font-semibold">Product category:
                                            <span class="text-red-500 ">*</span> </label>
                                        <select id="countries"
                                            class="bg-white-50 border border-gray-300 text-gray-400 text-sm rounded-lg block w-full p-5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-purple-500">
                                            <option selected>Received</option>
                                            <option value="US">Pending</option>
                                            <option value="CA">Ordered</option>

                                        </select>

                                    </div>
                                    <div class="md:w-full lg:w-1/3 px-2 p-4">

                                        <label for="wharehouse"
                                            class="text-black-500 font-weight-500 font-semibold">Brand
                                            <span class="text-red-500 ">*</span> </label>
                                        <select id="countries"
                                            class="bg-white-50 border border-gray-300 text-gray-400 text-sm rounded-lg block w-full p-5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-purple-500">
                                            <option selected>Choose</option>
                                            <option value="US">PAID</option>
                                            <option value="CA">unpaid</option>

                                        </select>

                                    </div>


                                </div>
                            </div>

                            <div clas="grid grid-cols-3 gap-2">
                                <div class="md:flex -mx-2 ">
                                    <div class="md:w-full lg:w-1/3 px-2 p-4">

                                        <label for="wharehouse"
                                            class="text-black-500 font-weight-500 font-semibold">Barcode Symbolgy::
                                            <span class="text-red-500 ">*</span> </label>
                                        <select id="countries"
                                            class="bg-white-50 border border-gray-300 text-gray-400 text-sm rounded-lg block w-full p-5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-purple-500">
                                            <option selected>Choose a Barcode Symbolgy</option>
                                            <option value="c128">Code 128</option>
                                            <option value="c39">Code 39</option>
                                            <option value="FR">wharehouse3</option>
                                            <option value="DE">wharehouse4</option>
                                        </select>
                                    </div>
                                    <div class="md:w-full lg:w-1/3 px-2 p-4">

                                        <label for="wharehouse"
                                            class="text-black-500 font-weight-500 font-semibold">product cost:
                                            <span class="text-red-500 ">*</span> </label>

                                        <div class="relative w-full rounded-md shadow-sm">
                                            <div
                                                class="pointer-events-none  bg-gray-200  rounded-lg border absolute inset-y-0 left-0 flex items-center pl-3 pr-3">
                                                <span class="text-gray-500  sm:text-lg"><i class="fa  fa-usd">
                                                    </i></span>
                                            </div>
                                            <input type="text" id="simple-search"
                                                class="bg-white-900 border border-white-900 text-center text-gray-900 p-3 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10  "
                                                placeholder="Enter Product Cost" required="">


                                        </div>

                                    </div>


                                </div>
                            </div>

                            <div clas="grid grid-cols-3 gap-2">
                                <div class="md:flex -mx-2 ">
                                    <div class="md:w-full lg:w-1/3 px-2 p-4">

                                        <label for="wharehouse"
                                            class="text-black-500 font-weight-500 font-semibold">Product Unit
                                            <span class="text-red-500 ">*</span> </label>
                                        <select id="countries"
                                            class="bg-white-50 border border-gray-300 text-gray-400 text-sm rounded-lg block w-full p-5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-purple-500">
                                            <option selected>Choose a Product unit</option>
                                            <option value="piece">piece</option>
                                            <option value="meter">Meter</option>
                                            <option value="kg">kilograms</option>

                                        </select>
                                    </div>
                                    <div class="md:w-full lg:w-1/3 px-2 p-4">

                                        <label for="wharehouse"
                                            class="text-black-500 font-weight-500 font-semibold">Product Price:
                                            <span class="text-red-500 ">*</span> </label>

                                        <div class="relative w-full rounded-md shadow-sm">
                                            <div
                                                class="pointer-events-none  bg-gray-200  rounded-lg border absolute inset-y-0 left-0 flex items-center pl-3 pr-3">
                                                <span class="text-gray-500  sm:text-lg"><i class="fa  fa-usd">
                                                    </i></span>
                                            </div>
                                            <input type="text" id="simple-search"
                                                class="bg-white-900 border border-white-900 text-center text-gray-900 p-3 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10  "
                                                placeholder="Enter Product Price" required="">


                                        </div>

                                    </div>


                                </div>
                            </div>

                            <div clas="grid grid-cols-3 gap-2">
                                <div class="md:flex -mx-2 ">
                                    <div class="md:w-full lg:w-1/3 px-2 p-4">

                                        <label for="wharehouse"
                                            class="text-black-500 font-weight-500 font-semibold">Sale unit:
                                            <span class="text-red-500 ">*</span> </label>
                                        <select id="countries"
                                            class="bg-white-50 border border-gray-300 text-gray-400 text-sm rounded-lg block w-full p-5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-purple-500">
                                            <option selected>Choose a Sale unit</option>
                                            <option value="US">*no option*</option>

                                        </select>

                                    </div>
                                    <div class="md:w-full lg:w-1/3 px-2 p-4">

                                        <label for="wharehouse"
                                            class="text-black-500 font-weight-500 font-semibold">Purchase unit:
                                            <span class="text-red-500 ">*</span> </label>
                                        <select id="countries"
                                            class="bg-white-50 border border-gray-300 text-gray-400 text-sm rounded-lg block w-full p-5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-purple-500">
                                            <option selected>Choose a Purchase unit</option>
                                            <option value="US">*no option*</option>
                                        </select>

                                    </div>


                                </div>
                            </div>





                            <div clas="grid grid-cols-3 gap-2">
                                <div class="md:flex -mx-2 ">
                                    <div class="md:w-full lg:w-1/3 px-2">

                                        <label for="Shipping" class="text-black-500 font-weight-500 font-semibold">Stock
                                            Alert:
                                        </label>
                                        <div class="relative w-full  rounded-md shadow-sm">

                                            <input type="number"
                                                class="bg-white-50 border border-gray-300 text-gray-400 text-sm rounded-lg block w-full p-5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-purple-500"
                                                placeholder="Enter Name">


                                        </div>
                                    </div>
                                    <div class="md:w-full lg:w-1/3 px-2">
                                        <div class="bg-white ">

                                            <label for="Shipping"
                                                class="text-black-500 font-weight-500 font-semibold">Order Tax:
                                            </label>
                                            <div class="relative w-full \ rounded-md shadow-sm">
                                                <div
                                                    class="pointer-events-none  bg-gray-200  rounded-lg border absolute inset-y-0 left-0 flex items-center pl-3 pr-3">
                                                    <span class="text-gray-500  sm:text-lg"><i
                                                            class="fa fa-thin fa-percent">
                                                        </i></span>
                                                </div>
                                                <input type="text" id="simple-search"
                                                    class="bg-white-900 border border-white-900 text-center text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-4 "
                                                    placeholder="Tax" required="">


                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>




                            <!-- <div class="grid grid-cols-4 gap-3 ring-purple-500 p-5 py-3 mt-5">
                            <div class="wharehouse grid grid-cols-1 gap-1">
                                <label for="wharehouse" class="">Tax type: <span class="required"> *</span></label>
                                <select id="countries"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-purple-500">
                                    <option selected></option>
                                    <option value="US">Exclusive</option>
                                    <option value="CA">InExclusive</option>
                                
                                </select>
                            </div>
                            <div>

                            </div>
                        </div>  -->
                            <div clas="grid grid-cols-3 gap-2">
                                <div class="md:flex -mx-2 ">
                                    <div class="md:w-full lg:w-1/3 px-2 p-4">
                                        <div class="bg-white ">
                                            <label for="wharehouse"
                                                class="text-black-500 font-weight-500 font-semibold">Tax Type:
                                                <span class="text-red-500 ">*</span> </label>
                                            <select id="countries"
                                                class="bg-white-50 border border-gray-300 text-gray-400 text-sm rounded-lg block w-full p-5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-purple-500">

                                                <option selected value="US">Exclusive</option>
                                                <option value="US">InExclusive</option>
                                                <!-- <option value="CA">wharehouse2</option>
                                        <option value="FR">wharehouse3</option>
                                        <option value="DE">wharehouse4</option> -->
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div clas="grid grid-cols-3 gap-2">
                                <div class="md:flex -mx-2 ">
                                    <div class="md:w-full lg:w-1/2 px-2 p-4">

                                        <label for="message"
                                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Note:
                                        </label>
                                        <textarea id="message" rows="4"
                                            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="Enter Notes"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="ml-19">
                                <button
                                    class="bg-blue-500 hover:bg-blue-700 m-5 text-white font-bold py-2 px-4 border border-blue-700 rounded">
                                    Save
                                </button>

                                <button
                                    class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 border border-gray-700 rounded">
                                    Cancel
                                </button>
                            </div>



                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





</section>
<!-- create end -->