<app-header></app-header>
<!-- view-sales start -->
<section [ngClass]="{ 'md:pl-20': this.isNavMinimized,  'md:pl-64': !this.isNavMinimized  }" class="pl-20   ">
    <div class="grid grid-cols-1 gap-1 items-center">

        <div class=" grid grid-cols-2 gap-4  items-center py-4   xl:pl-5">
            <div><span class="text-black-500 text-3xl  font-weight-600 font-light    text-3xl   ">
                    Sale Details
                </span></div>
            <div class="grid justify-items-end "> <button
                    class="bg-transparent hover:bg-blue-500 justify-items-end text-blue-500  font-semibold outline-blue-500  hover:text-white border border-blue-500  hover:border-transparent rounded   rounded w-20 h-12 mr-9 float-right   "
                    [routerLink]="['/dashboard/sales']">
                    <span>Back</span>
                </button></div>
        </div>
    </div>
    <!-- <div class="flex flex-col ">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden ">
                    <form action="">
                        <div class=" bg-white ml-5 p-10">

                            <div class="grid grid-cols-3 gap-3">

                                <div
                                    class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                                    <svg class="mb-2 w-10 h-10 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z"
                                            clip-rule="evenodd"></path>
                                        <path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z"></path>
                                    </svg>
                                    <a href="#">
                                        <h5
                                            class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">
                                            Need a help in Claim?</h5>
                                    </a>
                                    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Go to this step by step
                                        guideline process on how to certify for your weekly benefits:</p>
                                    <a href="#" class="inline-flex items-center text-blue-600 hover:underline">
                                        See our guideline
                                        <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z">
                                            </path>
                                            <path
                                                d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>

                                <div class="min-w-300 bg-white ml-5 p-10">
                                    <div
                                        class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                                        <svg class="mb-2 w-10 h-10 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z"
                                                clip-rule="evenodd"></path>
                                            <path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z"></path>
                                        </svg>
                                        <a href="#">
                                            <h5
                                                class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">
                                                Need a help in Claim?</h5>
                                        </a>
                                        <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Go to this step by
                                            step guideline process on how to certify for your weekly benefits:</p>
                                        <a href="#" class="inline-flex items-center text-blue-600 hover:underline">
                                            See our guideline
                                            <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z">
                                                </path>
                                                <path
                                                    d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z">
                                                </path>
                                            </svg>
                                        </a>
                                    </div>

                                </div>
                                <div class="min-w-300 bg-white ml-5 p-10">
                                    <div
                                        class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                                        <svg class="mb-2 w-10 h-10 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z"
                                                clip-rule="evenodd"></path>
                                            <path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z"></path>
                                        </svg>
                                        <a href="#">
                                            <h5
                                                class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">
                                                Need a help in Claim?</h5>
                                        </a>
                                        <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Go to this step by
                                            step guideline process on how to certify for your weekly benefits:</p>
                                        <a href="#" class="inline-flex items-center text-blue-600 hover:underline">
                                            See our guideline
                                            <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z">
                                                </path>
                                                <path
                                                    d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z">
                                                </path>
                                            </svg>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    <div class="bg-white p-10 m-5">
        <!-- <div class="grid grid-cols-3 gap-4">
        <div class="min-w-300 bg-white ml-5 p-10">

           <table>
            <th class="bg-gray-300">
             <span class="bg-gray-500">customer info</span>
            </th>
            <tbody>
                <tr>
                    <td>mobile number</td>
                </tr>
            </tbody>
           </table>

           
           
        
        </div> 

        <div class="min-w-300 bg-white ml-5 p-10">
            <div
                class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <svg class="mb-2 w-10 h-10 text-gray-500 dark:text-gray-400" aria-hidden="true"
                    fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z"
                        clip-rule="evenodd"></path>
                    <path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z"></path>
                </svg>
                <a href="#">
                    <h5
                        class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">
                        Need a help in Claim?</h5>
                </a>
                <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Go to this step by
                    step guideline process on how to certify for your weekly benefits:</p>
                <a href="#" class="inline-flex items-center text-blue-600 hover:underline">
                    See our guideline
                    <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z">
                        </path>
                        <path
                            d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z">
                        </path>
                    </svg>
                </a>
            </div>

        </div>
        <div class="min-w-300 bg-white ml-5 p-10">
            <div
                class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <svg class="mb-2 w-10 h-10 text-gray-500 dark:text-gray-400" aria-hidden="true"
                    fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z"
                        clip-rule="evenodd"></path>
                    <path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z"></path>
                </svg>
                <a href="#">
                    <h5
                        class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">
                        Need a help in Claim?</h5>
                </a>
                <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Go to this step by
                    step guideline process on how to certify for your weekly benefits:</p>
                <a href="#" class="inline-flex items-center text-blue-600 hover:underline">
                    See our guideline
                    <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z">
                        </path>
                        <path
                            d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z">
                        </path>
                    </svg>
                </a>
            </div>

        </div>
    </div> -->
        <div class="container my-12 mx-auto px-4 md:px-12">
            <div class="text-center text-lg font-semibold">Sale Details : SA_1112303</div>
            <div class="flex flex-wrap -mx-1 lg:-mx-4">

                <!-- Column -->
                <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

                    <!-- Article -->
                    <div class="bg-grey-light h-12 bg-gray-100 text-2xl p-3 text-gray-600">CUSTOMER INFO</div>
                    <div class="m-3 pt-2 pl-2">
                        <p><i class="fa fa-user pr-2 text-lg text-blue-500"></i> <span class="text-gray-600 m-1">Vishal
                                Ribdiya</span></p>

                        <p><i class="fa fa-envelope pr-2 text-lg text-blue-500"></i><span
                                class="text-gray-600 ">vishaltest@gmail.com</span> </p>
                        <p><i class="fa fa-mobile pr-2 text-2xl text-blue-500 "></i><span
                                class="text-gray-600 m-2">324234324324</span></p>
                        <p><i class="fa fa-map-marker text-lg pr-2 text-blue-500"></i><span
                                class="text-gray-600 m-1">Bheramara</span></p>

                    </div>
                    <!-- END Article -->

                </div>
                <!-- END Column -->

                <!-- Column -->
                <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

                    <!-- Article -->
                    <div class="bg-grey-light h-12 bg-gray-100 text-2xl p-3 text-gray-600">COMPANY INFO</div>
                    <div class="m-3 pt-2 pl-2">
                        <p><i class="fa fa-user pr-2 text-lg text-blue-500"></i> <span
                                class="text-gray-600 m-1">Pos</span></p>

                        <p><i class="fa fa-envelope pr-2 text-lg text-blue-500"></i><span
                                class="text-gray-600 ">vishaltest@gmail.com</span> </p>
                        <p><i class="fa fa-mobile pr-2 text-2xl text-blue-500 "></i><span
                                class="text-gray-600 m-2">324234324324</span></p>
                        <p><i class="fa fa-map-marker pr-2 text-lg text-blue-500"></i><span
                                class="text-gray-600 m-1">Bheramara</span></p>

                    </div>

                </div>
                <!-- END Column -->

                <!-- Column -->
                <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

                    <div class="bg-grey-light h-12 bg-gray-100 text-2xl p-3 text-gray-600">INVOICE INFO</div>
                    <div class="m-3 pt-2 pl-2">
                        <div>
                            <p>Reference :SA_1112300</p>
                        </div>
                        <div>
                            <p>Status: <span
                                    class="inline-block py-1.5 px-2.5 leading-none  text-green-600 text-center whitespace-nowrap align-baseline bg-green-200  rounded">
                                    Received</span></p>
                        </div>
                        <div>
                            <p>Warehouse :warehouse 4</p>
                        </div>
                        <div>
                            <p>Payment Status: <span
                                    class="inline-block py-1.5 px-2.5 leading-none text-green-600 text-center whitespace-nowrap align-baseline bg-green-200  rounded">
                                    paid</span></p>
                        </div>

                        <!-- <p><i class="fa fa-envelope pr-2 text-lg text-blue-500"></i><span class="text-gray-600 ">vishaltest@gmail.com</span> </p>
               <p><i class="fa fa-mobile pr-2 text-lg text-blue-500 "></i><span class="text-gray-600 m-2">324234324324</span></p>
               <p><i class="fa fa-map pr-2 text-blue-500"></i><span class="text-gray-600 m-1">Bheramara</span></p> -->

                    </div>

                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 gap-4  mx-auto px-4 md:px-12">
            <div class="col-start-1 col-end-7 h-12 bg-gray-100 text-2xl p-3 text-gray-500 ">ORDER SUMMARY</div>

            <div class="overflow-x-auto relative shadow-md sm:rounded-lg col-start-1 col-end-7">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">

                    <thead
                        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-600 font-light">
                        <tr>
                            <th scope="col" class="py-3 px-6">
                                PRODUCT
                            </th>
                            <th scope="col" class="py-3 px-6">
                                NET UNIT PRICE
                            </th>
                            <th scope="col" class="py-3 px-6">
                                QUANTITY
                            </th>
                            <th scope="col" class="py-3 px-6">
                                UNIT PRICE
                            </th>
                            <th scope="col" class="py-3 px-6">
                                DISCOUNT
                            </th>
                            <th scope="col" class="py-3 px-6">
                                TAX
                            </th>
                            <th scope="col" class="py-3 px-6">
                                SUBTOTAL
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row"
                                class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Black Sunglass (Black Sunglass)
                            </th>
                            <td class="py-4 px-6">
                                $ 86.84
                            </td>
                            <td class="py-4 px-6">
                                1
                            </td>
                            <td class="py-4 px-6">
                                $ 99.00
                            </td>
                            <td class="py-4 px-6">
                                $ 00
                            </td>
                            <td class="py-4 px-6">
                                $ 12.96
                            </td>
                            <td class="py-4 px-6">
                                $ 99.00
                            </td>
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row"
                                class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Black Sunglass (Black Sunglass)
                            </th>
                            <td class="py-4 px-6">
                                $ 86.84
                            </td>
                            <td class="py-4 px-6">
                                1
                            </td>
                            <td class="py-4 px-6">
                                $ 99.00
                            </td>
                            <td class="py-4 px-6">
                                $ 00
                            </td>
                            <td class="py-4 px-6">
                                $ 12.96
                            </td>
                            <td class="py-4 px-6">
                                $ 99.00
                            </td>
                        </tr>
                        <tr class="bg-white dark:bg-gray-800">
                            <th scope="row"
                                class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Black Sunglass (Black Sunglass)
                            </th>
                            <td class="py-4 px-6">
                                $ 86.84
                            </td>
                            <td class="py-4 px-6">
                                1
                            </td>
                            <td class="py-4 px-6">
                                $ 99.00
                            </td>
                            <td class="py-4 px-6">
                                $ 00
                            </td>
                            <td class="py-4 px-6">
                                $ 12.96
                            </td>
                            <td class="py-4 px-6">
                                $ 99.00
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>







        </div><br><br>

        <br><br>
        <div class="container  mx-auto px-4 md:px-12">
            <div class="flex flex-wrap -mx-1 lg:-mx-4">


                <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
                    <div class="w-1/3 px-2">
                    </div>

                </div>
                <div class="my-1 px-1 w-full md:w-1/3 lg:my-4 lg:px-4 lg:w-1/3">
                    <div class="w-1/3 px-2">
                    </div>

                </div>
                <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

                    <div class=" mx-auto px-4 ">
                        <div class="overflow-x-auto relative border  sm:rounded">
                            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">


                                <tbody>
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                        <th scope="row"
                                            class="py-4 px-6 font-medium text-gray-400 whitespace-nowrap dark:text-white">
                                            Order Tax
                                        </th>
                                        <td class="py-4 px-6 text-gray-400">
                                            $ 1099.98 (18.00%)
                                        </td>
                                        <!-- <td class="py-4 px-6">
                                                1
                                            </td>
                                            <td class="py-4 px-6">
                                                $ 99.00
                                            </td>
                                            <td class="py-4 px-6">
                                                $ 00
                                            </td>
                                            <td class="py-4 px-6">
                                                $ 12.96
                                            </td>
                                            <td class="py-4 px-6">
                                                $ 99.00
                                            </td> -->
                                    </tr>
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                        <th scope="row"
                                            class="py-4 px-6 font-medium text-gray-400 whitespace-nowrap dark:text-white">
                                            Discount
                                        </th>
                                        <td class="py-4 px-6 text-gray-400">
                                            $ 00.00
                                        </td>
                                        <!-- <td class="py-4 px-6">
                                                1
                                            </td>
                                            <td class="py-4 px-6">
                                                $ 99.00
                                            </td>
                                            <td class="py-4 px-6">
                                                $ 00
                                            </td>
                                            <td class="py-4 px-6">
                                                $ 12.96
                                            </td>
                                            <td class="py-4 px-6">
                                                $ 99.00
                                            </td> -->
                                    </tr>
                                    <tr class="bg-white dark:bg-gray-800">
                                        <th scope="row"
                                            class="py-4 px-6 font-medium text-gray-400 whitespace-nowrap dark:text-white">
                                            Shipping
                                        </th>
                                        <td class="py-4 px-6 text-gray-400">
                                            $ 00.00
                                        </td>

                                        <!-- <td class="py-4 px-6">
                                            $ 99.00
                                        </td>
                                        <td class="py-4 px-6">
                                            $ 00
                                        </td>
                                        <td class="py-4 px-6">
                                            $ 12.96
                                        </td>
                                        <td class="py-4 px-6">
                                            $ 99.00
                                        </td> -->
                                    </tr>
                                    <tr class="bg-white dark:bg-gray-800">
                                        <th scope="row"
                                            class="py-4 px-6 font-medium text-blue-500 whitespace-nowrap dark:text-white">
                                            Grand Total
                                        </th>
                                        <td class="py-4 px-6 text-blue-500">
                                            $ 7210.97
                                        </td>

                                        <!-- <td class="py-4 px-6">
                                            $ 99.00
                                        </td>
                                        <td class="py-4 px-6">
                                            $ 00
                                        </td>
                                        <td class="py-4 px-6">
                                            $ 12.96
                                        </td>
                                        <td class="py-4 px-6">
                                            $ 99.00
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>



                </div>
            </div>
        </div>




    </div>
</section>

<!-- view-sales end -->