body, html {
    height: 100%;
}

#login-form{
    width: 540px;
}

/* Media Query */

@media only screen and (max-width: 600px) {
    #login-form{
        width: 300px;
    }
}
.btn-primary {
    color: #000;
    background-color:#152440;
    border-color:#FE5E22;
    
}
.form-group{
    color:white;
}

.login-form{
    text-align:center;
    margin-top: -8%;
}
