<div [ngClass]="{ 'w-20': this.isNavMinimized, 'md:64': !this.isNavMinimized }" class="fixed bg-white ">
    <div class="flex items-center space-x-4 border-b-2 p-3 h-16">
        <img *ngIf="!this.isNavMinimized" src="../../../../assets/logo-80.png" alt=""
            class="w-12 h-12 transition ease-in-out duration-150  hidden md:block">
        <div *ngIf="!this.isNavMinimized" class="transition ease-in-out duration-150 hidden md:block">
            <h2 class="text-md">
                POS
            </h2>
        </div>
        <div *ngIf="!this.isNavMinimized" class="transition ease-in-out duration-150 w-1/2  hidden md:block">

        </div>
        <div [ngClass]="{ 'px-4': this.isNavMinimized }">
            <svg (click)="onNavMinimize()" class="w-6 h-6 text-gray-400 hover:text-gray-600" aria-hidden="true"
                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                    clip-rule="evenodd">
                </path>
            </svg>
        </div>

    </div>
    <div [ngClass]="{ 'hidden md:block': !this.isNavMinimized }"
        class="transition ease-in-out duration-150 divide-y divide-gray-700 overflow-y-auto vertical-nav">
        <div class="">
            <form *ngIf="!this.isNavMinimized" class="flex items-center p-4">
                <label for="simple-search" class="sr-only">Search</label>
                <div class="relative w-full">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd">
                            </path>
                        </svg>
                    </div>
                    <input type="text" id="simple-search"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 "
                        placeholder="Search" required="">
                </div>
            </form>
            <div>
                <ul class="space-y-2 pb-8">
                    <li class="bg-indigo-100  border-l-4 border-indigo-700">
                        <a href="/dashboard"
                            class="flex items-center p-2 text-sm font-normal text-gray-500 rounded-lg mr-4 ml-4 ">
                            <svg aria-hidden="true"
                                class="w-5 h-5 text-gray-500 transition ease-in-out duration-150  group-hover:text-gray-500 "
                                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                                <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                            </svg>
                            <span *ngIf="!this.isNavMinimized" class="ml-3">
                                Dashboard
                            </span>
                        </a>
                    </li>
                    <li class="hover:bg-indigo-100  hover:border-l-4 hover:border-indigo-700 ">
                        <button type="button" (click)="OnShowDropdown()"
                            class="flex items-center w-full p-2 text-base font-normal text-gray-500 transition duration-150 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                            aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                            <svg class="flex-shrink-0 w-6 h-6 ml-4 text-gray-500 transition duration-150 group-hover:text-gray-500 dark:text-gray-400 dark:group-hover:text-white"
                                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span class="flex-1 ml-2 text-sm text-left whitespace-nowrap"
                                sidebar-toggle-item>Product</span>
                            <svg sidebar-toggle-item class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                        <ul id="dropdown-example" *ngIf="ShowDropdown==true" class=" py-2 space-y-2">
                            <li>
                                <a href="/dashboard/product"
                                    class="flex items-center w-full p-2 text-base font-normal text-gray-500 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 pl-11"><i
                                        class="fa fa-arrow-right"></i><span class="pl-2">product
                                    </span></a>
                            </li>
                            <li>
                                <a href="#"
                                    class="flex items-center w-full p-2 text-base font-normal text-gray-500 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 pl-11"><i
                                        class="fa fa-arrow-right"></i><span class="pl-2">product
                                        categories</span></a>
                            </li>
                            <li>
                                <a href="#"
                                    class="flex items-center w-full p-2 text-base font-normal text-gray-500 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 pl-11">
                                    <i class="fa fa-arrow-right"></i><span class="pl-2">Brands</span></a>
                            </li>
                            <li>
                                <a href="#"
                                    class="flex items-center w-full p-2 text-base font-normal text-gray-500 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 pl-11"><i
                                        class="fa fa-arrow-right"></i><span class="pl-2">Units</span></a>
                            </li>
                            <li>
                                <a href="#"
                                    class="flex items-center w-full p-2 text-base font-normal text-gray-500 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 pl-11"><i
                                        class="fa fa-arrow-right"></i><span class="pl-2">Print Barcode</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="hover:bg-indigo-100  hover:border-l-4 hover:border-indigo-700">
                        <a href="/dashboard"
                            class="flex items-center p-2 text-sm font-normal text-gray-500 rounded-lg mr-4 ml-4 ">
                            <svg aria-hidden="true"
                                class="flex-shrink-0 w-5 h-5 text-gray-500 transition ease-in-out duration-150  group-hover:text-gray-500 "
                                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                    clip-rule="evenodd">
                                </path>
                            </svg>
                            <span *ngIf="!this.isNavMinimized" class="flex-1 ml-3 whitespace-nowrap">
                                Users
                            </span>
                        </a>
                    </li>
                    <li class="hover:bg-indigo-100  hover:border-l-4 hover:border-indigo-700">
                        <a href="/login"
                            class="flex items-center p-2 text-sm font-normal text-gray-500 rounded-lg mr-4 ml-4 ">
                            <svg aria-hidden="true"
                                class="flex-shrink-0 w-5 h-5 text-gray-500 transition ease-in-out duration-150 group-hover:text-gray-500 "
                                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
                                </path>
                            </svg>
                            <span *ngIf="!this.isNavMinimized" class="flex-1 ml-3 whitespace-nowrap">
                                Kanban
                            </span>
                        </a>
                    </li>
                    <li class="hover:bg-indigo-100  hover:border-l-4 hover:border-indigo-700">
                        <a href="/dashboard"
                            class="flex items-center p-2 text-sm font-normal text-gray-500 rounded-lg mr-4 ml-4 ">
                            <svg aria-hidden="true"
                                class="flex-shrink-0 w-5 h-5 text-gray-500 transition ease-in-out duration-150  group-hover:text-gray-500 "
                                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z">
                                </path>
                                <path
                                    d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z">
                                </path>
                            </svg>
                            <span *ngIf="!this.isNavMinimized" class="flex-1 ml-3 whitespace-nowrap">
                                Inbox
                            </span>
                        </a>
                    </li>
                    <li class="hover:bg-indigo-100  hover:border-l-4 hover:border-indigo-700">
                        <a href="/dashboard"
                            class="flex items-center p-2 text-sm font-normal text-gray-500 rounded-lg mr-4 ml-4 ">
                            <svg aria-hidden="true"
                                class="flex-shrink-0 w-5 h-5 text-gray-500 transition ease-in-out duration-150  group-hover:text-gray-500 "
                                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                    clip-rule="evenodd">
                                </path>
                            </svg>
                            <span *ngIf="!this.isNavMinimized" class="flex-1 ml-3 whitespace-nowrap">
                                Users
                            </span>
                        </a>
                    </li>
                    <li class="hover:bg-indigo-100  hover:border-l-4 hover:border-indigo-700">
                        <a href="/dashboard"
                            class="flex items-center p-2 text-sm font-normal text-gray-500 rounded-lg mr-4 ml-4 ">
                            <svg aria-hidden="true"
                                class="flex-shrink-0 w-5 h-5 text-gray-500 transition ease-in-out duration-150  group-hover:text-gray-500 "
                                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z"
                                    clip-rule="evenodd">
                                </path>
                            </svg>
                            <span *ngIf="!this.isNavMinimized" class="flex-1 ml-3 whitespace-nowrap">
                                Products
                            </span>
                        </a>
                    </li>
                    <li class="hover:bg-indigo-100  hover:border-l-4 hover:border-indigo-700">
                        <a href="/dashboard"
                            class="flex items-center p-2 text-sm font-normal text-gray-500 rounded-lg mr-4 ml-4 ">
                            <svg aria-hidden="true"
                                class="flex-shrink-0 w-5 h-5 text-gray-500 transition ease-in-out duration-150  group-hover:text-gray-500 "
                                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z"
                                    clip-rule="evenodd">
                                </path>
                            </svg>
                            <span *ngIf="!this.isNavMinimized" class="flex-1 ml-3 whitespace-nowrap">
                                Sign In
                            </span>
                        </a>
                    </li>
                    <li class="hover:bg-indigo-100  hover:border-l-4 hover:border-indigo-700">
                        <a href="/dashboard"
                            class="flex items-center p-2 text-sm font-normal text-gray-500 rounded-lg mr-4 ml-4 ">
                            <svg aria-hidden="true"
                                class="flex-shrink-0 w-5 h-5 text-gray-500 transition ease-in-out duration-150  group-hover:text-gray-500 "
                                fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z"
                                    clip-rule="evenodd">
                                </path>
                            </svg>
                            <span *ngIf="!this.isNavMinimized" class="flex-1 ml-3 whitespace-nowrap">
                                Sign Up
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div>
    <section [ngClass]="{ 'md:pl-20': this.isNavMinimized,  'md:pl-64': !this.isNavMinimized }"
        class="pl-20  bg-white w-full h-16 border-b-2 py-2 ">
        <nav class="px-3 bg-white border-gray-200c ">
            <div class="grid grid-cols-12 gap-1 items-center">
                <div>
                    <a href="#" class="flex items-center">
                        <span class="self-center text-sm whitespace-nowrap border-b-2 border-b-indigo-500">
                            Dashboard
                        </span>
                    </a>
                </div>
                <div class="col-span-8">

                </div>
                <div class="hidden md:block">
                    <div class="shadow-lg bg-indigo-500 w-12 h-10 float-right rounded-[50%] flex place-content-center"
                        [routerLink]="['/dashboard/pos']">
                        <span class="text-white p-2">
                            POS
                        </span>
                    </div>
                </div>
                <div>
                    <img src="../../../../assets/logo-80.png" alt=""
                        class="min-w-fit w-12 h-12 float-right  rounded-full">
                </div>
                <div class="transition ease-in-out duration-150 hidden md:block">
                    <span class=" flex items-center"> InfyPOS
                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd">
                            </path>
                        </svg>
                    </span>

                </div>
            </div>
        </nav>

    </section>
</div>