<app-header></app-header>
<!-- create start -->
<section [ngClass]="{ 'md:pl-20': this.isNavMinimized,  'md:pl-64': !this.isNavMinimized  }" class="pl-20   ">
    <div class="grid grid-cols-1 gap-1 items-center">
        <div class=" grid grid-cols-2 gap-4 items-center py-4   xl:pl-5">
            <div><span class="text-black-500 text-3xl  font-weight-600 font-light    text-3xl   ">
                    Counter 1
                </span></div>
            <div class="grid justify-items-end "> <button
                    class="bg-transparent hover:bg-blue-500 justify-items-end text-blue-500  font-semibold outline-blue-500  hover:text-white border border-blue-500  hover:border-transparent rounded   rounded w-20 h-12 mr-9 float-right   "
                    [routerLink]="['/dashboard/sales']">
                    <span>Back</span>
                </button></div>
        </div>
    </div>
    <div class="example-container mat-elevation-z8">

        <mat-table [dataSource]="dataSource" class="border-b bg-gray-50" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell class=" bg-gray-500" *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="progress">
                <mat-header-cell class=" bg-gray-500" *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.progress}}% </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell class=" bg-gray-500" *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>


            <!-- Color Column -->
            <ng-container matColumnDef="color">
                <mat-header-cell class=" bg-gray-500" *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell class=" bg-gray-500" *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.action}} </mat-cell>
            </ng-container>
            <mat-header-row class=" bg-gray-500" *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>

        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</section>