<app-header></app-header>
<!-- create start -->
<section [ngClass]="{ 'md:pl-20': this.isNavMinimized,  'md:pl-64': !this.isNavMinimized  }" class="pl-20   ">
    <div class="grid grid-cols-1 gap-1 items-center">
        <!-- <div class="flex flex-wrap mb-2">

            <div class="w-full  md:w-1/4 xl:w-1/4 pt-3 px-3 md:pr-2 xl:pr-3 xl:pl-3 ">
                <div class="bg-green-600 border rounded-lg shadow h-20 p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pl-3 pr-4"><i class="fa fa-shopping-cart fa-4x fa-fw fa-inverse"></i>
                        </div>
                        <div class="flex-1 text-right pr-3" [routerLink]="['/counter']">
                            <div>
                                <h3 class="text-white font-weight-600 font-bold text-3xl">Counter 1<span
                                        class="text-green-400"></span>
                                </h3>
                                <h5 class="text-gray-200 text-xl"> Sales</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full  md:w-1/4 xl:w-1/4 pt-3 px-3 md:pr-2 xl:pr-3 xl:pl-3">
                <div class="bg-orange-600 border rounded-lg shadow h-20 p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pl-3 pr-4"><i class="fa fa-cart-plus fa-4x fa-fw fa-inverse"></i></div>
                        <div class="flex-1 text-right pr-3">

                            <h3 class="text-white font-weight-600 font-bold text-3xl">Counter 2<span
                                    class="text-green-400"></span>
                            </h3>
                            <h5 class="text-gray-200 text-xl"> Purchases</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full  md:w-1/4 xl:w-1/4 pt-3 px-3 md:pr-2 xl:pr-3 xl:pl-3">
                <div class="bg-purple-600 border rounded-lg shadow h-20 p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pl-3 pr-4"><i class="fa fa-arrow-right  fa-4x fa-fw fa-inverse"></i>
                        </div>
                        <div class="flex-1 text-right pr-3">

                            <h3 class="text-white font-weight-600 font-bold text-3xl">Counter 3<span
                                    class="text-green-400"></span>
                            </h3>
                            <h5 class="text-gray-200 text-xl"> Sales Return</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full  md:w-1/4 xl:w-1/4 pt-3 px-3 md:pr-2 xl:pr-3 xl:pl-3">
                <div class="bg-yellow-600 border rounded-lg shadow h-20 p-2">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pl-3 pr-4"><i class="fa fa-arrow-left fa-4x fa-fw fa-inverse"></i></div>
                        <div class="flex-1 text-right pr-3">

                            <h3 class="text-white font-weight-600 font-bold text-3xl">Counter 4<span
                                    class="text-green-400"></span>
                            </h3>
                            <h5 class="text-gray-200 text-xl"> Purchase Return</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class=" grid grid-cols-2 gap-4 items-center py-4   xl:pl-5">
            <div><span class="text-black-500 text-3xl  font-weight-600 font-light    text-3xl   ">
                    Create Sale
                </span></div>
            <div class="grid justify-items-end "> <button
                    class="bg-transparent hover:bg-blue-500 justify-items-end text-blue-500  font-semibold outline-blue-500  hover:text-white border border-blue-500  hover:border-transparent rounded   rounded w-20 h-12 mr-9 float-right   "
                    [routerLink]="['/dashboard/sales']">
                    <span>Back</span>
                </button></div>
        </div>
        <!-- <div class="flex items-center "><span
                    class="text-black-500  font-weight-600 font-bold text-3xl  xl:pl-3  py-4 ">
                    Create sale
                </span></div>

            <div class=" " [routerLink]="['/Sales']">
                <button
                    class="bg-transparent hover:bg-blue-500 justify-items-end text-blue-500  font-semibold outline-blue-500  hover:text-white border border-blue-500  hover:border-transparent rounded   rounded w-20 h-12 mr-9 float-right   ">
                    <span>Back</span>
                </button>
            </div> -->

        <!-- </div> -->

    </div>
    <div class="flex flex-col ">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <div class="min-w-300 bg-white ml-5 p-10">
                        <div class="grid grid-cols-3 gap-4 mt-3">
                            <div class="pr-3" style="margin-left: 2%;float:left;">
                                <label for="" class="mt-3 font-semibold">Date:*</label>
                                <div class="relative">
                                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                    </div>
                                    <input datepicker type="text"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 blue w-full pl-10 p-4 dark:bg-gray-700 dark:border-gray-600 blue:placeholder-gray-400 blue:text-white blue:focus:ring-blue-500 dark:focus:border-blue-500 "
                                        placeholder="Select date">
                                </div>
                            </div>
                            <div class="">
                                <div class="pr-3">
                                    `
                                </div>
                            </div>
                            <div class="">
                                <label for="wharehouse" class="font-semibold">Customer: <span class="required">
                                        *</span></label>
                                <select id="countries"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-blue-500 block w-full p-4 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-purple-500">
                                    <option selected>Choose Customer</option>
                                    <option value="US">walk-in-customer</option>
                                    <option value="CA">Brain cain</option>
                                    <option value="FR">ursula manquez</option>
                                    <option value="DE">wilma phelps</option>
                                    <option value="DE">lilah pratt</option>
                                    <option value="DE">Tedt</option>
                                    <option value="DE">Vishal ribdiya</option>

                                </select>
                            </div>
                        </div>
                        <div class="p-5">

                            <div class="relative col-start-1 col-end-7 mt-5">

                                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                                        stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                    </svg>
                                </div><label for="search"
                                    class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">
                                </label>
                                <input type="search" id="search"
                                    class="block p-3 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Search product by code name" required>

                            </div>
                        </div>
                        <label for="product" class="text-black-500 font-weight-500 font-semibold">Order Items:<span
                                class="text-red-500 ">*</span> </label>
                        <div class="overflow-x-auto relative  sm:rounded-lg col-start-1 col-end-7">
                            <table>
                                <thead class="border-b bg-white-50">

                                    <th scope="col"
                                        class="text-sm font-medium text-gray-500 border-b bg-gray-50 px-6 py-4 text-center hover:text-blue-500 transition duration-300 ease-in-out hover:bg-gray-100">
                                        PRODUCT
                                    </th>
                                    <th scope="col"
                                        class="text-sm font-medium uppercase text-gray-500 border-b bg-gray-50 px-6 py-4 text-center hover:text-blue-500 transition duration-300 ease-in-out hover:bg-gray-100">
                                        Net unit PRICE
                                    </th>
                                    <th scope="col"
                                        class="text-sm font-medium uppercase text-gray-500 border-b bg-gray-50 px-6 py-4 text-center hover:text-blue-500 transition duration-300 ease-in-out hover:bg-gray-100">
                                        stock
                                    </th>
                                    <th scope="col"
                                        class="text-sm font-medium text-gray-500 border-b bg-gray-50 px-6 py-4 text-center hover:text-blue-500 transition duration-300 ease-in-out hover:bg-gray-100">
                                        QTY
                                    </th>
                                    <th scope="col"
                                        class="text-sm font-medium uppercase text-gray-500 border-b bg-gray-50 px-6 py-4 text-center hover:text-blue-500 transition duration-300 ease-in-out hover:bg-gray-100">
                                        Discount
                                    </th>
                                    <th scope="col"
                                        class="text-sm font-medium uppercase text-gray-500 border-b bg-gray-50 px-6 py-4 text-center hover:text-blue-500 transition duration-300 ease-in-out hover:bg-gray-100">
                                        %tax
                                    </th>
                                    <th scope="col"
                                        class="text-sm font-medium text-gray-500 border-b bg-gray-50 px-6 py-4 text-center hover:text-blue-500 transition duration-300 ease-in-out hover:bg-gray-100">
                                        SUB TOT
                                    </th>
                                    <th scope="col"
                                        class="text-sm font-medium text-gray-500 border-b bg-gray-50 px-6 py-4 text-center hover:text-blue-500 transition duration-300 ease-in-out hover:bg-gray-100">
                                        ACTION </th>
                                </thead>

                                <tbody>

                                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                        <!-- <td
                        class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-500">
                        1</td> -->
                                        <td
                                            class="text-lg text-center text-gray-500 font-light px-6 py-4 whitespace-nowrap">
                                            <h4 class="text-gray-400 font-semibold ">Red
                                                Sunglass</h4>
                                            <div class="d-flex align-items-center">
                                                <span
                                                    class="bg-green-100 text-green-500 text-sm rounded-md p-1 m-1"><span>Red
                                                        Sunglass</span></span>
                                                <span class="bg-gray-100 text-blue-500 text-sm rounded-md p-1"><i
                                                        class="fa fa-pencil"></i></span>
                                            </div>
                                        </td>
                                        <td
                                            class="text-lg  text-center text-gray-500 font-light px-6 py-4 whitespace-nowrap">
                                            $ 75
                                        </td>
                                        <td
                                            class="text-lg  text-center text-gray-500 font-light px-6 py-4 whitespace-nowrap">
                                            <span class="bg-orange-100 text-orange-500 rounded-md p-2">27.17 PE</span>
                                        </td>
                                        <td class="text-lg  text-center text-gray-500 px-8 py-4 whitespace-nowrap">
                                            <div class="flex flex-row h-10  rounded-lg relative bg-transparent mt-1">
                                                <button data-action="decrement"
                                                    class="  bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-10 rounded-l cursor-pointer outline-none">
                                                    <span class="m-auto text-2xl font-thin">−</span>
                                                </button>
                                                <input type="number"
                                                    class="outline-none focus:outline-none text-center w-10  font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none"
                                                    name="custom-input-number" value="1">
                                                <button data-action="increment"
                                                    class="bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-10 rounded-r cursor-pointer">
                                                    <span class="m-auto text-2xl font-thin">+</span>
                                                </button>
                                            </div>

                                        </td>
                                        <td
                                            class="text-lg  text-center text-gray-500 font-light px-6 py-4 whitespace-nowrap">
                                            $ 75
                                        </td>
                                        <td
                                            class="text-lg  text-center text-gray-500 font-light px-6 py-4 whitespace-nowrap">
                                            $ 75
                                        </td>
                                        <td
                                            class="text-lg  text-center text-gray-500 font-light px-6 py-4 whitespace-nowrap">
                                            $ 75
                                        </td>
                                        <td><i
                                                class="fa fa-trash-o font-semibold grid justify-items-center text-2xl text-red-500"></i>
                                        </td>
                                    </tr>
                                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                        <!-- <td
                        class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-500">
                        1</td> -->
                                        <td
                                            class="text-lg text-center text-gray-500 font-light px-6 py-4 whitespace-nowrap">
                                            <h4 class="text-gray-400 font-semibold ">Black Sunglasses</h4>
                                            <div class="d-flex align-items-center">
                                                <span
                                                    class="bg-green-100 text-green-500 text-sm rounded-md p-1 m-1"><span>Black
                                                        Sunglass</span></span>
                                                <span class="bg-gray-100 text-blue-500 text-sm rounded-md p-1"><i
                                                        class="fa fa-pencil"></i></span>
                                            </div>
                                        </td>
                                        <td
                                            class="text-lg  text-center text-gray-500 font-light px-6 py-4 whitespace-nowrap">
                                            $ 75
                                        </td>
                                        <td
                                            class="text-lg  text-center text-gray-500 font-light px-6 py-4 whitespace-nowrap">
                                            <span class="bg-orange-100 text-orange-500 rounded-md p-2">27.17 PE</span>
                                        </td>
                                        <td class="text-lg  text-center text-gray-500 px-8 py-4 whitespace-nowrap">
                                            <div class="flex flex-row h-10  rounded-lg relative bg-transparent mt-1">
                                                <button data-action="decrement"
                                                    class="  bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-10 rounded-l cursor-pointer outline-none">
                                                    <span class="m-auto text-2xl font-thin">−</span>
                                                </button>
                                                <input type="number"
                                                    class="outline-none focus:outline-none text-center w-10  font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none"
                                                    name="custom-input-number" value="1">
                                                <button data-action="increment"
                                                    class="bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-10 rounded-r cursor-pointer">
                                                    <span class="m-auto text-2xl font-thin">+</span>
                                                </button>
                                            </div>

                                        </td>
                                        <td
                                            class="text-lg  text-center text-gray-500 font-light px-6 py-4 whitespace-nowrap">
                                            $ 75
                                        </td>
                                        <td
                                            class="text-lg  text-center text-gray-500 font-light px-6 py-4 whitespace-nowrap">
                                            $ 75
                                        </td>
                                        <td
                                            class="text-lg  text-center text-gray-500 font-light px-6 py-4 whitespace-nowrap">
                                            $ 75
                                        </td>
                                        <td><i
                                                class="fa fa-trash-o font-semibold grid justify-items-center text-2xl text-red-500"></i>
                                        </td>
                                    </tr>
                                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                                        <!-- <td
                        class="px-6 py-4 whitespace-nowrap text-lg font-medium text-gray-500">
                        1</td> -->
                                        <td
                                            class="text-lg text-center text-gray-500 font-light px-6 py-4 whitespace-nowrap">
                                            <h4 class="text-gray-400 font-semibold ">Red
                                                Sunglass</h4>
                                            <div class="d-flex align-items-center">
                                                <span
                                                    class="bg-green-100 text-green-500 text-sm rounded-md p-1 m-1"><span>Red
                                                        Sunglass</span></span>
                                                <span class="bg-gray-100 text-blue-500 text-sm rounded-md p-1"><i
                                                        class="fa fa-pencil"></i></span>
                                            </div>
                                        </td>
                                        <td
                                            class="text-lg  text-center text-gray-500 font-light px-6 py-4 whitespace-nowrap">
                                            $ 75
                                        </td>
                                        <td
                                            class="text-lg  text-center text-gray-500 font-light px-6 py-4 whitespace-nowrap">
                                            <span class="bg-orange-100 text-orange-500 rounded-md p-2">27.17 PE</span>
                                        </td>
                                        <td class="text-lg  text-center text-gray-500 px-8 py-4 whitespace-nowrap">
                                            <div class="flex flex-row h-10  rounded-lg relative bg-transparent mt-1">
                                                <button data-action="decrement"
                                                    class="  bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-10 rounded-l cursor-pointer outline-none">
                                                    <span class="m-auto text-2xl font-thin">−</span>
                                                </button>
                                                <input type="number"
                                                    class="outline-none focus:outline-none text-center w-10  font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none"
                                                    name="custom-input-number" value="1">
                                                <button data-action="increment"
                                                    class="bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-10 rounded-r cursor-pointer">
                                                    <span class="m-auto text-2xl font-thin">+</span>
                                                </button>
                                            </div>

                                        </td>
                                        <td
                                            class="text-lg  text-center text-gray-500 font-light px-6 py-4 whitespace-nowrap">
                                            $ 75
                                        </td>
                                        <td
                                            class="text-lg  text-center text-gray-500 font-light px-6 py-4 whitespace-nowrap">
                                            $ 75
                                        </td>
                                        <td
                                            class="text-lg  text-center text-gray-500 font-light px-6 py-4 whitespace-nowrap">
                                            $ 75
                                        </td>
                                        <td><i
                                                class="fa fa-trash-o font-semibold grid justify-items-center text-2xl text-red-500"></i>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>

                            <!-- <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                <caption
                                    class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                                    OrderIteam:

                                </caption>
                                <thead
                                    class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="py-3 px-6">
                                            PRODUCT
                                        </th>
                                        <th scope="col" class="py-3 px-6">
                                            NETUNIT PRICE
                                        </th>
                                        <th scope="col" class="py-3 px-6">
                                            STOCK
                                        </th>
                                        <th scope="col" class="py-3 px-6">
                                            QTY
                                        </th>
                                        <th scope="col" class="py-3 px-6">
                                            DISCOUNT
                                        </th>
                                        <th scope="col" class="py-3 px-6">
                                            TAX
                                        </th>
                                        <th scope="col" class="py-3 px-6">
                                            SUBTOTAL
                                        </th>
                                        <th scope="col" class="py-3 px-6">
                                            ACTION
                                        </th>
                                        <th scope="col" class="py-3 px-6">
                                            <span class="sr-only">Edit</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                        <th scope="row"
                                            class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            Apple MacBook Pro 17"
                                        </th>
                                        <td class="py-4 px-6">
                                            Sliver
                                        </td>
                                        <td class="py-4 px-6">
                                            Laptop
                                        </td>
                                        <td class="py-4 px-6">
                                            $2999
                                        </td>
                                        <td class="py-4 px-6 text-right">
                                            <a href="#"
                                                class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                        </td>
                                    </tr>
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                        <th scope="row"
                                            class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            Microsoft Surface Pro
                                        </th>
                                        <td class="py-4 px-6">
                                            White
                                        </td>
                                        <td class="py-4 px-6">
                                            Laptop PC
                                        </td>
                                        <td class="py-4 px-6">
                                            $1999
                                        </td>
                                        <td class="py-4 px-6 text-right">
                                            <a href="#"
                                                class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                        </td>
                                    </tr>
                                    <tr class="bg-white dark:bg-gray-800">
                                        <th scope="row"
                                            class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            Magic Mouse 2
                                        </th>
                                        <td class="py-4 px-6">
                                            Black
                                        </td>
                                        <td class="py-4 px-6">
                                            Accessories
                                        </td>
                                        <td class="py-4 px-6">
                                            $99
                                        </td>
                                        <td class="py-4 px-6 text-right">
                                            <a href="#"
                                                class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> -->
                        </div>
                        <!-- <div>
                            <label for="price" class="block text-sm font-medium text-gray-700">Order Tax</label>
                            <div class="relative mt-1 rounded-md shadow-sm">
                              <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                                <span class="text-gray-500 sm:text-sm">$</span>
                              </div>
                              <input type="text" name="ordertax" id="price" class="bg-gray-70 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-blue-500 block w-50 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-purple-500">
                              <div class="absolute inset-y-0 right-0 flex items-center">
                                <label for="currency" class="sr-only">%</label>
                                <select id="currency" name="currency" class="h-full rounded-md border-transparent bg-transparent py-0 pl-2 pr-7 text-gray-500 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                                  <option>USD</option>
                                  <option>CAD</option>
                                  <option>EUR</option>
                                </select>
                              </div>
                            </div>
                          </div> -->
                        <div class="grid grid-cols-3 gap-4 ring-purple-500 p-5 py-3 mt-5">
                            <div class="flex">
                                <div class="mb-3 xl:w-96">
                                    <label for="" class="pb-4 pt-4">OrderTax:</label>
                                    <div class="input-group relative flex flex-wrap items-stretch w-full mt-3">

                                        <input type="text"
                                            class="form-control relative flex-auto min-w-0 block w-60 px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                            placeholder="0.001" aria-label="" aria-describedby="button-addon2">
                                        <button
                                            class="btn inline-block px-6 py-2.5 bg-gray-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-lightgray-700 hover:shadow-lg focus:bg-gray-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-800 active:shadow-lg transition duration-150 ease-in-out flex items-center"
                                            type="button" id="button-addon2">
                                            <!-- <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                                      </svg> -->
                                            %
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="mb-3 xl:w-96">
                                    <label for="" class="pb-4 pt-4">Discount:</label>
                                    <div class="input-group relative flex flex-wrap items-stretch w-full mt-3">

                                        <input type="text"
                                            class="form-control relative flex-auto min-w-0 block w-60 px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                            placeholder="0.001" aria-label="" aria-describedby="button-addon2">
                                        <button
                                            class="btn inline-block px-6 py-2.5 bg-gray-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-lightgray-700 hover:shadow-lg focus:bg-gray-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-800 active:shadow-lg transition duration-150 ease-in-out flex items-center"
                                            type="button" id="button-addon2">
                                            <!-- <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                                      </svg> -->
                                            $
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="mb-3 xl:w-96">
                                    <label for="" class="pb-4 pt-4">Shoping:</label>
                                    <div class="input-group relative flex flex-wrap items-stretch w-full mt-3">

                                        <input type="text"
                                            class="form-control relative flex-auto min-w-0 block w-60 px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                            placeholder="0.001" aria-label="" aria-describedby="button-addon2">
                                        <button
                                            class="btn inline-block px-6 py-2.5 bg-gray-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-lightgray-700 hover:shadow-lg focus:bg-gray-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-800 active:shadow-lg transition duration-150 ease-in-out flex items-center"
                                            type="button" id="button-addon2">
                                            <!-- <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                                      </svg> -->
                                            $
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid grid-cols-3 gap-4 ring-purple-500 p-5 py-3 mt-5">
                            <div class="wharehouse">
                                <label for="wharehouse" class="">Status: <span class="required"> *</span></label>
                                <select id="countries"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-purple-500">
                                    <option selected></option>
                                    <option value="US">Received</option>
                                    <option value="CA">Pending</option>
                                    <option value="FR">orded</option>



                                </select>
                            </div>
                            <div class="ml-5">
                                <div class="pr-3">
                                    <label for="wharehouse" class="">Payment Status:
                                        <span class="required"> *</span></label>
                                    <select id="countries"
                                        class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-purple-500">
                                        <option selected></option>
                                        <option value="US">PAID</option>
                                        <option value="CA">unpaid</option>

                                    </select>
                                </div>
                            </div>
                            <div class="ml-10">
                                <label for="wharehouse" class="">Payment Type: <span class="required"> *</span></label>
                                <select id="countries"
                                    class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-purple-500">
                                    <option selected></option>
                                    <option value="US">Cash</option>
                                    <option value="CA">Bank transfer</option>
                                    <option value="FR">Cheque</option>
                                    <option value="DE">Other</option>


                                </select>
                            </div>
                            <div class="col-start-1 col-end-7 mt-5">

                                <label for="message"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Note:
                                </label>
                                <textarea id="message" rows="4"
                                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Enter Notes"></textarea>

                            </div>
                            <div class="ml-19">
                                <button
                                    class="bg-blue-500 hover:bg-blue-700 m-5 text-white font-bold py-2 px-4 border border-blue-700 rounded">
                                    Save
                                </button>
                                <button
                                    class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 border border-gray-700 rounded">
                                    Cancel
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>




</section>
<!-- create end -->